input[type='date']::-webkit-clear-button,
input[type='month']::-webkit-clear-button,
input[type='time']::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}
.disabled {
  opacity: 0.5;
}
.button-add-container {
  position: fixed;
  /* bottom: calc(49px + 1rem); browser */
  bottom: calc(49.5px + max(env(safe-area-inset-bottom), 10px));
  right: env(safe-area-inset-right);
  z-index: 10;
  transition: bottom 0.3s, transform 0.15s;
  user-select: none;
}
.button-add {
  position: relative;
  top: 0;
  left: 0;
}
.button-add-circle {
  position: absolute;
  top: 0;
  left: 0;
}
.button-shrink {
  transform: scale(0.9);
}
/* @keyframes off {
  to {
    transform: translate(-48%, 0);
  }
} */
.button-toggle {
  width: 2.8rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  transition: background-color 0.3s;
}
.button-off {
  background-color: var(--grey);
}
.button-toggle-circle {
  transform: translate(0, 0);
  transition: transform 0.3s;
}
.button-off .button-toggle-circle {
  transform: translate(-48%, 0);
}
.button-timeset {
  display: flex;
  align-self: flex-end;
  font-size: 0.9rem;
  justify-content: flex-end;
  align-items: center;
}

.tagbar {
  /* z-index: 1; */
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 43px;
  overflow-x: auto;
  margin: 0;
  padding-right: 12px;
  background-color: #ededed;
  padding: 4px 12px 4px 4px;
  /* transition: max-height 1s; */
  /* padding-left: 0rem; 0.833: fit-start */
}
@supports not selector(A:has(B)) {
  .tagbar.main:not(.expand) {
    padding-right: 35px;
  }
}
.tagbar.main:has(> .plus):not(.expand)::after {
  content: '';
  padding-left: 100px;
  background-color: red;
}
.tagbar::-webkit-scrollbar {
  display: none;
}
.tagbar.main {
  /* position: sticky;
  top: calc(1.75rem + 20px); */
  /* overflow-y: visible; */
  z-index: 99;
}
.tagbar.main > * {
  z-index: 100;
}
.tagbar > .tag {
  /* margin-left: 12px; */
  margin: 4px 0 4px 8px;
  /* transition-property: width, height;
  transition-duration: 0.5s; */
}
/* .tagbar > .tag:not(.disabled) {
  animation: fade-in 1s;
} */
.tagbar.expand {
  position: relative;
  flex-wrap: wrap;
  /* min-height: fit-content; */
  border-radius: 0 0 16px 16px;
  right: 0;
  width: 100%;
  overflow: hidden;
  /* padding-right: 28px; */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tag {
  list-style-type: none;
  height: calc(1rem + 12px);
  min-width: fit-content;
  max-width: fit-content;
  /* margin: auto 0.5rem; */
  padding: 0 0.8rem;
  background-color: transparent;
  color: white;
  line-height: calc(1rem + 12px);
  text-align: center;
  font-weight: 500;
  border-radius: calc(1rem + 12px);
}
.tagbar .tag {
  transition: background-color 0.25s;
}
/* .tag:not(.loading) {
} */
.tag.loading {
  background-color: transparent;
  /* rgb(184, 184, 184); */
  min-width: 60px;
}
.tagbar .plus {
  /* background-color: unset; */
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 35px;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 93%, 0) 0%,
    hsla(0, 0%, 93%, 0.5) 20%,
    hsla(0, 0%, 93%, 0.75) 30%,
    hsla(0, 0%, 93%, 0.9) 40%,
    hsla(0, 0%, 93%, 1) 100%
  );
  color: black;
  font-size: 32px;
  /* line-height: 1.25; */
  font-weight: 300;
  text-align: right;
  /* transition: all 0.5s; */
}
.tagbar.expand .plus {
  position: static;
  margin-left: auto;
  margin-right: -12px;
  transform: rotate(45deg);
  background: none;
}
.tag:not(.loading)::before {
  content: '# ';
}
.tag.plus::before {
  content: unset;
}
.Calendar {
  position: relative;
  width: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.Calendar.main {
  top: 0;
  max-height: 100vh;
  max-height: 100svh;
}
.Calendar.channel {
  height: calc(100% - 3rem);
}
.Calendar.mini {
  position: relative;
  height: 100%;
}
.Calendar.mini * {
  animation: none;
}
.Calendar-header {
  /* z-index: 99; */
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 2px;
  /* height: calc(1.75rem + 20px); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Calendar-tagbar-container {
  position: relative;
  /* top: 50px; */
  /* top: calc(1.75rem + 20px); */
  width: 100%;
  max-height: 43px;
  overflow-y: visible;
  z-index: 99;
  background-color: transparent;
}
.Calendar-title {
  display: inline-block;
  position: relative;
  margin: 0 16px 0 0;
}
.Calendar-date-select {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0;
  cursor: pointer;
}
.Calendar-date-select::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}
.Calendar-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;
}
.main .Calendar-body,
.channel .Calendar-body {
  /* height: calc(100% - 6rem); */
  position: sticky;
  top: 6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main .Calendar-content,
.channel .Calendar-content {
  max-height: calc(100% - 3rem);
}
.Calendar.mini .Calendar-content {
  height: calc(14rem + 2px);
  top: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Calendar.mini .Calendar-content::-webkit-scrollbar {
  display: none;
}
.Calendar-content {
  /* position: absolute; */
  top: 3rem;
  display: flex;
  /* flex: none; */
  width: 100%;
  padding-top: 2px;
  overflow-y: auto;
  scroll-snap-type: both mandatory;
}
.month {
  width: 100%;
}
.week:not(.weekdays) {
  display: flex;
  border-bottom: 1px var(--grey-light) solid;
  justify-content: space-around;
}
.Calendar.mini .weekdays,
.Calendar.mini .Calendar-header {
  display: none;
}
.weekdays {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px var(--grey-light) solid;
}
.day,
.weekday {
  flex: 1 1 calc(100% / 7);
  text-align: center;
}
.week .day,
.week .weekday {
  width: calc(100% / 7);
}
.weekday {
  height: 3rem;
  line-height: 3rem;
  font-weight: bold;
}
.weekday:first-child,
.day:first-child {
  color: #d94b4b;
}
.weekday:last-child,
.day:last-child {
  color: #3c69e3;
  border-right: 0;
}
.date {
  height: 1.5rem;
  line-height: 1.5em;
  font-weight: 500;
}
.holiday {
  color: #d94b4b;
}
.today .date span:first-child {
  padding: 0 0.25em;
  color: white;
  background-color: var(--blue);
  border-radius: 0.45em;
}
.day.past .date,
.day.next .date,
.day.past .eventbar,
.day.next .eventbar {
  opacity: 0.5;
}
.day-todo-box {
  position: relative;
  height: 6em;
}
.day.active {
  box-sizing: content-box;
  border: 2px solid rgb(60, 105, 227);
  margin: -2px;
  border-radius: 0.5rem;
}
/* @media (prefers-color-scheme: dark) {
   .Calendar {
    filter: invert(1);
  }
  .Calendar-header {
    filter: invert(1);
  } 
  .Calendar-header button {
    border: none;
  }
  .Calendar-body {
    filter: invert(1);
    background-color: #131313;
    color: white;
  }
  .week:not(.weekdays) {
    border-bottom: 1px #262626 solid;
  }
  .tagbar {
    background-color: #262626;
    filter: invert(1);
  }
  .tagbar .plus {
    background: linear-gradient(
      to right,
      hsla(0, 0%, 85%, 0) 0%,
      hsla(0, 0%, 85%, 0.5) 20%,
      hsla(0, 0%, 85%, 0.75) 30%,
      hsla(0, 0%, 85%, 0.9) 40%,
      hsla(0, 0%, 85%, 1) 100%
    );
    color: white;
    filter: invert(1);
  }
  .tag {
    filter: none;
  }
} */
