.eventbar {
  height: 1rem;
  overflow: hidden;
  color: white;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: left;
  padding: 0 0.25rem;
  margin-bottom: 1px;
}
.eventbar.start {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.eventbar.end {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
