.eventbar {
  position: absolute;
  height: 1rem;
  z-index: 1;
  padding: 0 0.25rem;
  margin-bottom: 1px;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: left;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Calendar.main .eventbar {
  animation: fade-in 1.5s;
  transition: transform 0.5s;
}
.eventbar.start {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.eventbar.end {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
