.channel-add-notice {
  min-height: calc(100vh - 8.5rem);
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.channel-add-notice > * {
  width: 100%;
  margin-bottom: 1rem;
}
.channel-add-notice input {
  font-size: 1.2rem;
  font-weight: 500;
}
.channel-add-notice > textarea {
  min-height: 50vh;
  overflow-y: scroll;
}
.channel-add-notice > button {
  max-width: 80%;
}
.error {
  min-height: 62px;
  padding: 20px 0;
  color: #aaaaaa;
  text-align: center;
}
.arrow {
  height: 0.8rem;
}
.notice-list {
  padding: 0;
  margin: 0;
}
.notice-list > li {
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid #dddddd;
}
.notice-list.loading > li {
  border-bottom: 1px solid transparent;
}
.notice-list > li > .tag ~ * {
  padding-left: 0.833rem;
}
.notice-list > li > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.notice-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2rem;
  min-height: 1.2rem;
}
.notice-list-date {
  line-height: 0.8rem;
  min-height: 0.8rem;
  font-size: 0.8rem;
  color: #4d4d4d;
}
.notice-header {
  padding: 10px 0 20px 16px;
  border-bottom: 1px solid #b8b8b8;
}
.notice-header > h3 {
  margin: 16px 0;
}
.notice-content {
  padding: 20px 16px;
  border-bottom: 1px solid #b8b8b8;
  white-space: pre-wrap;
}
.notice-menu {
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice-menu button {
  width: 48%;
}
