.channel-tabs {
  padding-top: 30px;
  overflow: hidden;
  overflow-x: auto;
  box-shadow: inset 0 -2px #457af6;
}
.channel-tabs-list {
  display: flex;
  margin: 2px 0 0 -2px;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  /* border-bottom: 2px solid #457af6; */
}
.channel-tab {
  width: 6rem;
  background-color: white;
  color: #b8b8b8;
  font-weight: 500;
  list-style: none;
  border: 2px solid #b8b8b8;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  padding: 0.67rem 0;
  margin-right: -2px;
  margin-bottom: 2px;
  text-align: center;
}
.channel-tab.active {
  z-index: 1;
  border-top: 2px solid #457af6;
  border-left: 2px solid #457af6;
  border-right: 2px solid #457af6;
  margin-bottom: 0;
  color: #3b77ff;
}
