.channel-list {
  overflow: auto;
  background-color: white;
  max-height: 100%;
}
.channel-list > li {
  background: linear-gradient(#ddd, #eee, #ddd);
}
.channel-card {
  background-color: white;
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  padding: 10px 15px;
  border-bottom: 1px solid var(--grey-light);
}
.grid-channel-card {
  background-color: white;
  display: grid;
  grid-template-rows: [top] 30px 30px auto [bottom];
  grid-template-columns: [start] 64px 1fr [end];
  row-gap: 4px;
  column-gap: 10px;
  /* align-items: flex-start;
  align-content: stretch; */
  padding: 10px;
  border-bottom: 1px solid var(--grey-light);
}
.grid-channel-card > .avatar {
  grid-area: 1 / 1 / 3 / 2;
}
.grid-channel-card > .channel-card-info-row.first {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-channel-card > .channel-card-info-row.second {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-channel-card > [class$='button'] {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: stretch;
}
.channel-image-with-button {
  display: flex;
  flex-direction: column;
}
.channel-image-with-button > *:not(:last-child) {
  margin-bottom: 5px;
}

.channel-card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 100%;
  padding-left: 10px;
  padding-top: 2px;
}
.channel-card-info > *:not(:last-child) {
  margin-bottom: 3px;
}
.channel-card-info-row {
  display: flex;
  align-items: center;
  height: 2rem;
}
.channel-card-info-row > *:not(:last-child) {
  margin-right: 0.5rem;
}
.channel-card-info-row svg {
  height: 100%;
}
.channel-card-name {
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--grey-light);
  background-color: white;
}
.grid-channel-card > button {
  max-height: 28px;
}
.channel-card-main-text {
  font-size: 0.8rem;
  line-height: 1rem;
  /* max-height: 2rem; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
  color: var(--grey-dark);
  padding-left: 0.5rem;
  padding-right: 10px;
  flex-basis: 100%;
}
