:root {
  --main-color: #3b77ff;
  --blue: var(--main-color);
  --red: #f93822;
  --grey-dark: #4d4d4d;
  --grey: #b8b8b8;
  --grey-light: #dddddd;
  /*SNU Color*/
  /*https://identity.snu.ac.kr/color/1/*/
  --snu-blue: rgb(15, 15, 112);
  --snu-beige: rgb(220, 218, 178);
  --snu-gray: rgb(102, 102, 102);
  --snu-gold: rgb(133, 109, 80);
  --snu-silver: rgb(142, 144, 147);
  /*Waffle Color Theme*/
  --waffle-pomegranate: #d4515d;
  --waffle-orange: #e8914f;
  --waffle-yellow: #f3c550;
  --waffle-lightgreen: #b2d652;
  --waffle-green: #60bf70;
  --waffle-meditteranean: #60cdc8;
  --waffle-skyblue: #4499e3;
  --waffle-amethyst: #a45eae;
  --waffle-lavender: #4b4dbd;
  /*iOS Config*/
  --ios-homebar-margin-bottom: 21px;
  --ios-iphone-homebar-margin-bottom: 34px;
  --nav-height: calc(0.5px + 10px + 39px + max());
}
@supports (padding-top: env(safe-area-inset-top)) {
  body {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
  }
}
/* .loading {
  background: linear-gradient(90deg, var(--grey), var(--grey-light) 45% 55%, var(--grey));
  background-size: 200%;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
} */
.mobile-max-container {
  max-width: 480px;
  margin: 0 auto;
}
.main-container {
  /* width: 100vw; */
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #ededed;
}
.main-container > *:not(:last-child) {
  margin-bottom: 10px;
}
.avatar {
  object-fit: cover;
  clip-path: circle();
  width: 64px;
  height: 64px;
}
.card {
  background-color: white;
  padding: 10px 20px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px 10px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--grey);
}
.card-header-small {
  padding: 10px 16px 0 4px;
  font-size: 1rem;
  color: #3c69e3;
  border: none;
}
.input-box:focus-within ~ #channel-search-option-select {
  display: none;
  border: 1px solid transparent;
}
.search-box input {
  position: absolute;
  padding-left: 85px;
}
.search-box input:focus {
  padding-left: 16px;
}
#channel-search-option-select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /*  Additional resets for further consistency */
  background-color: transparent;
  background-image: url('/src/resources/arrow-down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 15px);
  background-position-y: 19px;
  border: 1px var(--grey-light) solid;
  border-radius: 1.5rem;
  padding: 0 2rem 0 1rem;
  margin: 0;
  height: 3rem;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
#channel-search-option-select:focus {
  border: 1px solid #457af6;
}

.button-big {
  height: 3rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  margin: 10px 0;
}
.button-blue {
  background-color: white;
  color: var(--blue);
}
.button-blue:disabled {
  color: var(--grey);
  opacity: 1;
}
.button-blue:active {
  background-color: var(--blue);
  color: white;
}
.button-delete {
  background-color: white;
  color: var(--red);
}
.button-delete:active {
  background-color: var(--red);
  color: white;
  border-color: var(--red);
}
.button-grey {
  background-color: white;
  color: var(--grey);
}
.button-grey:active {
  color: var(--grey-dark);
}
.button-in-input {
  height: 80%;
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 0.3rem;
  min-width: 5rem;
}
button:active {
  opacity: 0.8;
}
.header-background {
  min-height: 3rem;
  max-height: 3rem;
}
.header {
  z-index: 99;
  height: 3rem;
  line-height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid var(--grey);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: hsla(0, 0%, 100%, 0.72);
  text-align: center;
}
.header > * {
  /* position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 10px; */
  width: fit-content;
}
.header > .header-left {
  position: absolute;
  left: max(16px, env(safe-area-inset-left));
}
.header > .header-right {
  position: absolute;
  right: max(16px, env(safe-area-inset-left));
}
.small-text {
  font-size: 0.8rem;
}
textarea {
  font-size: 1rem;
  resize: none;
  width: 100%;
  min-height: 6rem;
  border: 1px solid var(--grey-light);
  border-radius: 1.5rem;
  -webkit-appearance: none;
  box-shadow: none !important;
  padding: 14px 16px;
  outline: none;
}
textarea:focus {
  border-color: #457af6;
}
img {
  color: inherit;
}
input {
  background-color: #fff;
  border: none;
  border-radius: 0;
  outline: none;
}
input:not([type='checkbox']):not([type='radio']) {
  -webkit-appearance: none;
}

.input-box {
  position: relative;
}
.input-box-label-container {
  display: flex;
  align-items: baseline;
  margin: 8px 16px;
}
.input-box-label-container label {
  font-size: 1rem;
  line-height: 1rem;
}
.input-condition-message {
  color: var(--red);
  font-size: 0.7rem;
  line-height: 0.7rem;
  height: 0.7rem;
  margin: 0;
  overflow-wrap: break-word;
}
.input-box-input-container {
  position: relative;
  height: 3rem;
}
.input-box input {
  margin: 0;
  width: 100%;
}
.dropdown {
  position: relative;
  bottom: 0;
  background-color: white;
  z-index: 200;
}
.input-round {
  border: 1px solid var(--grey-light);
  border-radius: 1.5rem;
  padding: 0 1rem;
  font: inherit;
  margin-bottom: 0.66rem;
  height: 3rem;
}
.input-round:focus {
  border-color: #457af6;
}
.input-flat {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--grey-light);
  padding: 0;
}
.search-box .input-with-button {
  padding-right: 40px;
}
.input-with-button {
  padding-right: 6rem;
}

.userlist {
  border-radius: 1.25rem;
  padding: 0.5rem;
  margin: 0 0 0 1rem;
  width: calc(100% - 1rem);
}
.userlist > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.2rem 0.5rem 0.25rem;
  margin-bottom: 0.05rem;
  line-height: 1rem;
  border-radius: 0.725rem;
}
.menu-list {
  margin: 0;
  padding: 0;
}
.menu-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 16px;
}
.menu-list > li:not(:last-child) {
  border-bottom: 1px solid var(--grey-light);
}
.selectable:active {
  background: rgba(240, 240, 240, 1);
}
