* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
  font-family: 'Noto Sans', 'Noto Sans CJK KR', sans-serif;
}
button {
  padding: 0.25em 0.5em;
  border-radius: 1.5em;
  border: 0;
  background-color: rgb(59, 119, 255);
  color: white;
  outline: none;
}
button:active {
  opacity: 0.8;
}
.tagbar {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  overflow-y: auto;
  margin: 0;
  background-color: rgb(237, 237, 237);
  padding-left: 0.833rem;
}
.tag {
  list-style-type: none;
  height: 2rem;
  min-width: fit-content;
  margin: auto 0.5rem;
  padding: 0 1rem;
  line-height: 2rem;
  background-color: rgb(212, 81, 93);
  color: white;
  text-align: center;
  border-radius: 2rem;
}
.tag::before {
  content: '#';
}
.Calendar {
  width: 100%;
}
.Calendar-header {
  height: 4rem;
  display: flex;
  align-items: center;
  margin: auto 1.333rem;
}
.Calendar-title {
  display: inline-block;
  position: relative;
  font-size: 166.6%;
  margin: 0 2rem 0 0;
}
.Calendar-date-select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0;
  cursor: pointer;
}
.Calendar-date-select::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.week {
  display: flex;
  border-bottom: 1px rgb(221, 221, 221) solid;
  justify-content: space-around;
}
.week:last-child {
  border-bottom: 0;
}
.day,
.weekday {
  flex: 1;
  text-align: center;
}
.weekday {
  height: 3rem;
  line-height: 3rem;
  font-weight: bold;
}
.weekday:first-child,
.day:first-child {
  color: rgb(217, 75, 75);
}
.weekday:last-child,
.day:last-child {
  color: rgb(60, 105, 227);
  border-right: 0;
}
.date {
  padding: 0.25em 0;
}
.today .date span {
  padding: 0 0.25em;
  color: white;
  background-color: rgb(59, 119, 255);
  border-radius: 4pt;
}
.day .date.past,
.day .date.next {
  opacity: 0.5;
}
.day-todo-box {
  height: 6em;
}
