.colorpicker-wrapper {
  background-color: #fff;
  position: fixed;
  left: 0;
  padding: 5px 5px;
  margin: 12px;
  width: calc(100vw - 24px);
  border-radius: 20px;
  z-index: 999;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
}
.colorpicker-arrow {
  /* layout */
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  /* // offset should move with padding of parent */
  border: 0.75rem solid transparent;
  border-top: none;

  /* looks */
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.colorpicker-palette {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.colorpicker-color {
  width: 30px;
  height: 30px;
}
