.colorpicker-wrapper {
  background-color: #fff;
  position: fixed;
  left: env(safe-area-inset-left);
  padding: 5px 5px;
  margin: 12px;
  width: calc(
    100% - 24px - env(safe-area-inset-left) - env(safe-area-inset-right)
  );
  border-radius: 20px;
  z-index: 999;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
}
.colorpicker-arrow {
  /* layout */
  /* transform: translateX(calc(0 - env(safe-area-inset-left))); */
  margin-left: -24px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  /* // offset should move with padding of parent */
  border: 0.75rem solid transparent;
  border-top: none;

  /* looks */
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.colorpicker-palette {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.colorpicker-color {
  width: 30px;
  height: 30px;
}
/* @media (prefers-color-scheme: dark) {
  .colorpicker-color {
    filter: invert(1);
  }
} */
