* {
  font-family: 'Noto Sans', 'Noto Sans CJK KR', -apple-system,
    BlinkMacSystemFont, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo',
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
/* @media all and (display-mode: standalone) {
  body {
    background-color: orange !important;
    color: orange !important;
  }
}
@media all and (display-mode: browser) {
  body {
    background-color: teal !important;
    color: teal !important;
  }
} */
html {
  width: 100%;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  overflow: auto;
  /* padding-bottom: env(safe-area-inset-bottom); */
  margin: 0;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.modal-open {
  overflow: hidden;
}
/* @media (prefers-color-scheme: dark) {
  html {
    background-color: black;
  }
  html > * {
    filter: invert(1);
  }
  img.avatar {
    filter: invert(1);
  }
} */
@media only screen and (display-mode: standalone) {
  /*PWA*/
  /* @supports (-webkit-touch-callout: none) { */
  /*iOS*/
  body {
    padding-bottom: calc(
      49.5px + max(10px, env(safe-area-inset-bottom))
    ) !important;
  }
  /* } */
}
#root {
  box-sizing: content-box;
  position: relative;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  min-height: 100vh;
  max-height: 100vh;
  min-height: 100svh;
  max-height: 100svh;
  /* min-height: -webkit-fill-available;
  max-height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
}
@media screen and (display-mode: standalone) {
  body {
    position: fixed;
  }
  document,
  body,
  #root {
    min-height: calc(100svh - env(safe-area-inset-top));
    max-height: calc(100svh - env(safe-area-inset-top));
  }
}
a {
  width: 100%;
  overflow-wrap: break-word;
}
a:link,
a:visited {
  color: var(--blue);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #4b4dbd;
}
a:hover,
a:active {
  color: #4499e3;
  background-color: transparent;
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  font-size: 1.2rem;
  padding: 0.2rem 0.75rem;
  border-radius: 1.6rem;
  border: 1px solid currentColor;
  background-color: var(--blue);
  color: white;
  outline: none;
  user-select: none;
}
button:active,
button.progress:disabled {
  background-color: white;
  color: var(--blue);
  border-color: var(--blue);
  font-weight: bold;
}
button:not(.progress):disabled {
  background-color: var(--grey-light);
  color: white;
  border: 1px solid var(--grey-light);
}
button.progress:disabled *:not(.spinner, .spinner *) {
  display: none;
}
button.progress:disabled .spinner .path {
  stroke: currentColor;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:not(.Calendar) + footer {
  height: 100px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
form > * {
  margin-bottom: 8px;
}
hr {
  border-top: 1px solid var(--grey-light);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
h1 {
  font-size: 34px;
}
*[class$='header'] {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  padding: 0 16px;
}
label {
  padding-right: 0.5rem;
  font-weight: 500;
  min-width: fit-content;
}
