.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* full screen */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*  */
  z-index: 999;
  /* animation: dim 0.2s forwards; */
  background-color: rgba(0, 0, 0, 0.3);
}
@keyframes dim {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
/* .modal-background ~ * {
  filter: blur(4px);
} */
.modal-container {
  /*align center*/
  margin: 0;
  position: absolute;
  user-select: auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 720px;
  height: fit-content;
  max-height: 70%;
  background-color: white;
  color: black;
  border-radius: 1rem;
}
.modal-container * {
  font-size: 1rem;
}
.modal-container > * {
  width: 100%;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #dddddd;
}
input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}
.input-datetime-container {
  padding-bottom: 2px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
}
.event-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  overflow-y: auto;
}
.event-input-container > * {
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  transition: border 0.5s;
}
.event-input-container > .tag {
  margin: 16px 0 0;
  align-self: flex-start;
}
.event-input-container > *:focus {
  border-color: black;
}
.input-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.input-invalid {
  border-color: red;
}
.event-memo {
}
.button-save {
  display: block;
  margin: 0 auto 0.8rem;
  font-size: 133.3%;
  border-radius: 1.925rem;
  width: 70%;
  padding: 1rem;
}
/*EventModal*/
.event-modal-header {
  padding: 2rem 1.5rem 0;
  display: flex;
}
.event-modal-content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 2rem;
  text-align: left;
}
.event-modal-content > *:not(:last-child) {
  margin-bottom: 16px;
}
.event-title {
  font-size: 1.6rem;
  margin: 0.5rem 0 1rem;
}
/*DayEventsModal*/
.day-events-modal-header {
  text-align: left;
  position: relative;
  display: flex;
}
.day-events-modal-header > hr {
  margin: 1rem 0;
}
.date-title {
  font-size: 166.6%;
  margin: 0;
}
.date-small {
  font-size: 75%;
  color: #6a6a6a;
}
.date-events-modal-content {
  text-align: left;
  overflow: auto;
}
.date-events-modal-content > .event-container {
  margin-bottom: 0.67rem;
}
