.nav-container {
  z-index: 10;
  height: 4.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  border-top: 1pt rgb(221, 221, 221) solid;
  background-color: white;
  transition: bottom 0.3s;
  user-select: none;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: min(0.75rem, 4vw);
  font-weight: bold;
}
.nav-item svg {
  margin: 0 auto;
  height: 2rem;
}
.nav-item:hover {
  background-color: rgb(237, 237, 237);
}
.nav-item:active, .nav-item.active {
  color: #3b77ff;
  fill: #3b77ff;
}
.nav-item p {
  margin: 0;
  padding-top: 0.25rem;
}
