.signup-header {
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  padding: 0 5%;
}
.signup-form > h3 {
  padding-left: 1rem;
}
.input-fullname-container {
  display: flex;
}
.input-fullname-container > :first-child {
  width: 45%;
  padding-right: 1rem;
}
.input-fullname-container > :last-child {
  width: 55%;
}
.agreement-container {
  padding-left: 1rem;
}
.label-agreement {
  display: flex;
  align-items: flex-start;
  font-size: 0.8rem;
}
