.login-page {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
@supports (height: 100svh) {
  .login-page {
    height: 100svh;
    width: 100dvw;
  }
}
.login-logo {
  height: 100px;
  margin: 50px 0;
  animation: fadeIn ease-out 0.82s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* margin-top: -82px; */
    transform: translateY(-41px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.login-header {
  position: relative;
  /* padding: 50px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (orientation: portrait) and (max-height: 1000px) {
  .login-page {
    justify-content: center;
  }
  .login-header {
    padding-top: 0;
  }
}
@media (orientation: landscape) and (max-height: 400px) {
  .login-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .login-header {
    width: 200px;
  }
  .login-logo {
    margin: 0 0 100px;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 48px;
}
.login-form > * {
  margin-bottom: 8px;
}
.login-form > p {
  padding-left: 1rem;
}
.login-helper {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0 48px;
}
.login-helper > button {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  color: var(--grey);
  text-decoration: underline;
}
.login-helper > button:active {
  border: none;
}
